body{
	width:300px;
	height:300px;
	min-width:300px;
	min-height:300px;
	
	
}
.width100{
    width:100%;
  }
  
 .title{
	 text-align:center; padding:5px; margin-top:0; box-shadow:3px 3px 12px #f4f4f4;
 }

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #f4f4f4; /* Black background color */
    color: #fff; /* White text color */
    text-align: center; /* Centered text */
    border-radius: 2px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 999999999999999999; /* Add a z-index if needed */
    left: 50%; /* Center the snackbar */
    bottom: 30px; /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #f4f4f4;
}

::-webkit-scrollbar
{
    width: 5px;
    background-color: #f4f4f4;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #f4f4f4;
}


body{
    width:100%;
	min-width:450px;
	height:580px;
	font-size:14px;
	font-family:tahoma;
	
   }
   h3{
    margin:0; font-size:20px; font-weight:500;
   }
   .form-group> .form-control{
    font-size:14px;
  
   }
   hr{
    margin:8px 0px 8px 0px;
   }
   .form-group > label{
     font-weight:500;
	
   }

   .enter-email {
       background-color: #ffcc00;
   }

   h10 {
    color: #ffcc00;
    color: #000000;
    color: #ffffff;
    color: #f4f4f4;
}
.login{
    background-color: #f4f4f4;
    

}

.btn-success {
    color: #ffffff;
    background-color: #ffcc00;
    border-color: #ffcc00;
}